body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: snow;
  padding-top: 4rem;
  /*
  padding-left: 250px;
  padding-right: 250px;
*/
}

.intro {
  line-height: 3em;
  height: 3em;
  background-color: white;
  border-bottom: 1px solid #EEEEEE;
}

.message {
  border-bottom: 1px solid #EEEEEE;
}

.prompt {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  margin: 15px;
  margin-left: 200px;
}
